*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}
.min{
    max-width: 200px;
}
.max{
    max-width: 300px;
}
.caja{
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 25px;
    border: 2px solid rgb(212, 209, 209);
    padding-left: 10px;
    margin-bottom: 10px;
}
.boton{
    width: 200px;
    border: none;
    border-radius: 5px;
    height: 25px;
    border: 2px solid rgb(10, 121, 165);
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(23, 187, 252);
    color: white;

}
#table{
    color: white;
}
th{
    border: 1px solid rgb(23, 187, 252);
    background-color: rgb(8, 141, 218);
    padding: 5px;
}
a{
    text-decoration: none;    
}
.icono1{
    font-size: 14px;
    color: red;
}
.icono2{
    font-size: 14px;
    color: green;
}
td{
    color: rgb(13, 107, 189);
}
.accion{
    display: flex;
    justify-content: space-evenly;
    align-content: center;  
}